.login {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem;

    &__group {
        text-align: left;
        display: inline;
    }
    &__input {
        display: inline;
        background-color: rgba($color-grey-dark-4, 0.3);
        color: $color-white;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 0.5rem 0.2rem;
        border-radius: 2px;
        border: none;
        transition: all .3s;
        border-bottom: 3px solid transparent;      

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-white;
        }        
    }

    &__label {
        display: inline;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 700;
        transition: all .3s;
        color: $color-grey-dark-4;
    }

    &__title {
        font-size: 1.6rem;
        color: $color-white;
    }

    &__btn {
        background-color: rgba($color-grey-dark-4, 0.3);
        color: $color-white;
        padding: 1rem 2rem;
        text-align: center;
        transition: all .2s;
        border: none;
        border: 1px solid transparent;        

        &:active,
        &:hover {
            background-color: rgba($color-grey-dark-4, 0.8);
            color: $color-white;
            border: 1px solid $color-grey-dark;
        }

        &:disabled,
        &[disabled] {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }
    }
}